@model NhdLesson07.Models.NhdEmployee

@{
    ViewData["Title"] = "NhdDetails";
}

<h1>NhdDetails</h1>

<div>
    <h4>NhdEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhdId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhdId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhdBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhdBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhdEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhdEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhdPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhdPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhdSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhdSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhdStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhdStatus)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="NhdIndex">Back to List</a>
</div>
