@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>MemBer Id: @Model.NhdMemBerId</p>
    <p>MemBer UserName: @Model.NhdUserName</p>
    <p>MemBer PassWord: @Model.NhdPassWord</p>
    <p>MemBer FullName: @Model.NhdFullName</p>
    <p>MemBer NhdEmail: @Model.NhdEmail</p>
</div>



