@model IEnumerable<NhdLesson05Model.Models.DataModels.NhdMemBer>

@{
    ViewData["Title"] = "NhdIndex";
}

<h1>Danh sách member</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Member ID</th>
            <th>Member UserName</th>
            <th>Member PassWord</th>
            <th>Member FullName</th>
            <th>Member Email</th>
            <!-- Bạn thêm các cột cần thiết tùy theo thuộc tính trong model -->
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.NhdMemBerId</td>
                <td>@member.NhdUserName</td>
                <td>@member.NhdPassWord</td>
                <td>@member.NhdFullName</td>
                <td>@member.NhdEmail</td>

                <!-- Hiển thị thêm các trường nếu cần -->
            </tr>
        }
    </tbody>
</table>
